* text=auto
*.ps1 text eol=crlf
*.bat text eol=crlf
*.js text eol=lf
*.cjs text eol=lf
*.mjs text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.svg text eol=lf
*.png binary
*.ico binary
